
WPF Prueba/WPF Prueba/obj/WPF Prueba.csproj.nuget.g.props
WPF Prueba/WPF Prueba/obj/WPF Prueba.csproj.nuget.dgspec.json
*.json
WPF Prueba/WPF Prueba/obj/WPF Prueba.csproj.nuget.dgspec.json
WPF Prueba/WPF Prueba/obj/WPF Prueba.csproj.nuget.dgspec.json
WPF Prueba/WPF Prueba/obj/project.nuget.cache
