
WPF Prueba/WPF Prueba/obj/WPF Prueba.csproj.nuget.g.props
WPF Prueba/WPF Prueba/obj/WPF Prueba.csproj.nuget.dgspec.json
*.json
WPF Prueba/WPF Prueba/obj/WPF Prueba.csproj.nuget.dgspec.json
WPF Prueba/WPF Prueba/obj/WPF Prueba.csproj.nuget.dgspec.json
WPF Prueba/WPF Prueba/obj/project.nuget.cache
WPF Prueba/WPF Prueba/obj/Debug/net6.0-windows/WPF Prueba.csproj.FileListAbsolute.txt
WPF Prueba/WPF Prueba/obj/Debug/net6.0-windows/WPF Prueba.csproj.FileListAbsolute.txt
WPF Prueba/WPF Prueba/obj/Debug/net6.0-windows/WPF Prueba.csproj.FileListAbsolute.txt
